#contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.entry {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 2%;
    /* overflow: hidden;  */
}

.image {
    max-width: 82%;
    max-height: 82%;
    margin: auto;
    /* transition: transform .5s ease; */
    
}

/* .image :hover {
    transform: scale(1.05);
} */

.title {
    text-align: center;
}

.modal.bg{
    position : fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}