.beerInfo {
    position: absolute;
    z-index: 2;
    border: #333;
    border-radius: 20px;
    border-width: 1px;
    background-color: #333;
    opacity: 100%;
    width: 800px;
    height: 900px;
}

.beerTabTitle {
    color: white;
    float: right;
    margin-right: 3%;
}

.beerPic {
    max-width: 40%;
    max-height: 40%;
}

.beerType {
    color: white;
    margin-left: 3%;
}

.brewDate {
    color: white;
    margin-left: 3%;
}

.beerABV {
    color: white;
    margin-left: 3%;
}

.beerTagline {
    color: white;
    margin-left: 3%;
}

.beerDescription {
    color: white;
    float: right;
    margin: auto;
}

.beerFoodPair {
    color: white;
    float: right;
    margin-right: 3%;
}