.beerInfo {
    position: absolute;
    z-index: 2;
    border: #333;
    border-radius: 20px;
    border-width: 1px;
    background-color: #333;
    width: 40%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.beerHeader {
    display: flex;
    flex-direction: row;
    height: 44%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.beerPic {
    margin-left: 11%;
    margin-top: 4%;
    margin-bottom: 3%;
    max-width: 100%;
    max-height: 100%;
}

.minorInfo {
    margin-left: 12%;
    margin-right: 10%;
}

.beerTabTitle {
    color: white;
}

.infoPoint {
    color: white;
    font-size: larger;
}

.beerDescription {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: larger;
}

.beerFoodPair {
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    font-size: larger;
}

.recipeHeader {
    color: white;
    margin-right: 90%;
    margin-left: 5%;
}