.beerInfo {
    position: absolute;
    z-index: 2;
    border: #333;
    border-radius: 20px;
    border-width: 1px;
    background-color: #333;
    opacity: 100%;
    width: 40%;
    height: 90%;

    animation-name: slideIn;
    animation-duration: 1s;
}

@keyframes slideIn {
    from {
        margin-left: -20%;
    }
    to {
        margin-left: 0%;
    }
}

.beerTabTitle {
    color: white;
    float: right;
    margin-right: 13%;
}

.beerPic {
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 3%;
    max-width: 40%;
    max-height: 40%;
}

.beerType {
    color: white;
    margin-left: 3%;
    font-size: large;
}

.brewDate {
    color: white;
    margin-left: 3%;
    font-size: large;
}

.beerABV {
    color: white;
    margin-left: 3%;
    font-size: large;
}

.beerTagline {
    color: white;
    margin-left: 3%;
    font-size: large;
}

.beerDescription {
    color: white;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    font-size: large;
}

.beerFoodPair {
    color: white;
    float: left;
    margin-right: 3%;
    margin-left: 3%;
    font-size: large;
}

.recipeHeader {
    color: white;
    float: left;
    margin-right: 90%;
    margin-left: 3%;
    
}