#contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.entry {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 350px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 2%;
    float: left;
    margin-right: 0.7%;
    margin-left: 0.7%;
    /* overflow: hidden;  */
}

#plusEntry {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 350px;
    margin-bottom: 2%;
    float: left;
    margin-right: 0.7%;
    margin-left: 0.7%;
}

#plusIcon {
    max-width: 50%;
    max-height: 50%;

}

* {
    font-family: 'montserrat', sans-serif;
}

.image {
    max-width: 82%;
    max-height: 82%;
    z-index: -1;
    margin: auto;
}

#searchbutton {
    background-color: #fc0;
    border-radius: 4px;
    border-width: 2px;
}

.beerInfo {
    position: absolute;
    z-index: 2;
    border: #333;
    border-radius: 20px;
    border-width: 1px;
    background-color: #333;
    opacity: 85%;
    width: 800px;
    height: 900px;
}









/* .title{
    text-align: center;
    animation: alternate;
    animation-duration: 3s;
}


.subtitle{
    text-align: center;
} */


/* title Animations */



/* body
{
    background: #000;
} */


